*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-family: 'Roboto',sans-serif;
  font-size: 62.5%;
}

.screen1.hide,.modal-wrapper.hide{
  display: none;
}
body{
  height: 100vh;

  display: grid;
  align-items: center;
  justify-content: center;

  background-color:#040924;
}

.screen1{
  display: flex;
  flex-direction: column;

  border-radius: .8rem;
  
  width: 42.8rem;
  height: 44rem;

  background-color: white;
  padding: 4.8rem 6.4rem;

  gap: 3.2rem;

  h1{
    font-size:3.2rem;
    font-weight: 700;
    line-height: 4rem;
    color: #0c3440;
  }

  .input-wrapper{
    display: flex;
    flex-direction: column;
    
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #00453a;
    .txt{
      margin-bottom: .8rem;
    }
    .txt:nth-of-type(2){
      margin-top: 1.6rem;
    }
    
    input{
      height: 5.2rem;

      border: none;
      border-radius: .4rem;
      
      background-color: #Dce2e9;

      font-size: 1.6rem;
      line-height: 2rem;

      color: #212529;

      padding: 2rem;
    }
    button{
      height:5.2rem;

      background-color:#02799d ;

      font-size:1.6rem;
      font-weight: 700;
      line-height: 2rem;

      color: white;

      border: none;
      border-radius: .4rem;

      margin-top: 3.2rem;
    }
    button:hover{
      cursor: pointer;
      background-color: #01607c;
    }
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.modal{
  position: relative;
  
}

.modal-wrapper{
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.7);

  display: grid;
  align-items: center;
  justify-content: center;
  
  h2{
    font-size:3.2rem;
    font-weight: 700;
    line-height: 4rem;
    color: #0c3440;
  }
  .modal.screen1{
    width: auto;
    height: auto;
  }
  .modal{
  display: relatative;
  }
  button{
    border: none;
    background: none;

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  }
  button:hover{
    cursor: pointer;
    opacity: 90%;
  }
}
.alert-error.hide {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.alert-error{
  background-color: #f03e3e;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  padding: .8rem;

  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: white;
  text-align: center;
  
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform .5s;
}